<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- headlinks removed -->
	<link rel="shortcut icon" href="../../../../misc/favicon.ico"/>
    <title>Template:Oldid - Phaserwiki</title>
    <style type="text/css">/*<![CDATA[*/ @import "../../../../skins/offline/main.css"; /*]]>*/</style>
    <link rel="stylesheet" type="text/css" media="print" href="../../../../skins/common/commonPrint.css" />
    <!--[if lt IE 5.5000]><style type="text/css">@import "../../../../skins/monobook/IE50Fixes.css";</style><![endif]-->
    <!--[if IE 5.5000]><style type="text/css">@import "../../../../skins/monobook/IE55Fixes.css";</style><![endif]-->
    <!--[if IE 6]><style type="text/css">@import "../../../../skins/monobook/IE60Fixes.css";</style><![endif]-->
    <!--[if IE]><script type="text/javascript" src="../../../../skins/common/IEFixes.js"></script>
    <meta http-equiv="imagetoolbar" content="no" /><![endif]-->
    <script type="text/javascript" src="../../../../skins/common/wikibits.js"></script>
    <script type="text/javascript" src="../../../../skins/offline/md5.js"></script>
    <script type="text/javascript" src="../../../../skins/offline/utf8.js"></script>
    <script type="text/javascript" src="../../../../skins/offline/lookup.js"></script>
    <script type="text/javascript" src="../../../../raw/gen.js"></script>                  </head>
  <body
    class="ns-10 ns-subject page-Template_Oldid">
    <div id="globalWrapper">
      <div id="column-content">
	<div id="content">
	  <a name="top" id="contentTop"></a>
	        <h1 class="firstHeading">Template:Oldid</h1>
	  <div id="bodyContent">
	    <h3 id="siteSub">From Phaserwiki</h3>
	    <div id="contentSub"></div>
	    	    	    <!-- start content -->
	    <p><span class="plainlinks"><a href="http://www.phaser.cimr.cam.ac.uk/index.php?oldid={{{1}}}" class="external autonumber" title="http://www.phaser.cimr.cam.ac.uk/index.php?oldid={{{1}}}" rel="nofollow">[1]</a></span>
</p>
<!-- 
NewPP limit report
Preprocessor node count: 4/1000000
Post-expand include size: 0/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->
<div class="printfooter">
</div>
	    	    <!-- end content -->
	    <div class="visualClear"></div>
	  </div>
	</div>
      </div>
      <div id="column-one">
	<div class="portlet" id="p-logo">
            <a style="background-image: url(../../../../misc/PhaserwikiLogo.png);"
	    href="http://www.phaser.cimr.cam.ac.uk/index.php/Phaser_Crystallographic_Software"
	    title="Phaser Crystallographic Software"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
		<div class='portlet' id='p-'>
	  <h5></h5>
	  <div class='pBody'>
	    <ul>
	    	      <li id="n-PhaserWiki-Home"><a href="../../../../index.html">PhaserWiki Home</a></li>
	     	      <li id="n-Releases"><a href="../../../../articles/r/e/l/Releases.html">Releases</a></li>
	     	      <li id="n-Downloads"><a href="../../../../articles/d/o/w/Downloads.html">Downloads</a></li>
	     	      <li id="n-Manuals"><a href="../../../../articles/m/a/n/Manuals.html">Manuals</a></li>
	     	      <li id="n-Tutorials"><a href="../../../../articles/t/u/t/Tutorials.html">Tutorials</a></li>
	     	      <li id="n-FAQ"><a href="../../../../articles/f/a/q/FAQ_1fe9.html">FAQ</a></li>
	     	      <li id="n-Top-Ten-Tips"><a href="../../../../articles/t/o/p/Top_Ten_Tips_3fcd.html">Top Ten Tips</a></li>
	     	      <li id="n-Publications"><a href="../../../../articles/p/u/b/Publications.html">Publications</a></li>
	     	      <li id="n-External-Links"><a href="../../../../articles/e/x/t/External_Links_ff0e.html">External Links</a></li>
	     	    </ul>
	  </div>
	</div>
		<div class='portlet' id='p-users'>
	  <h5>users</h5>
	  <div class='pBody'>
	    <ul>
	    	      <li id="n-MR-Phasing"><a href="../../../../articles/m/o/l/Molecular_Replacement_a23a.html">MR Phasing</a></li>
	     	      <li id="n-SAD-Phasing"><a href="../../../../articles/e/x/p/Experimental_Phasing_5400.html">SAD Phasing</a></li>
	     	    </ul>
	  </div>
	</div>
		<div class='portlet' id='p-developers'>
	  <h5>developers</h5>
	  <div class='pBody'>
	    <ul>
	    	      <li id="n-Python-Interface"><a href="../../../../articles/p/y/t/Python_Interface_5961.html">Python Interface</a></li>
	     	      <li id="n-Contact-Developers"><a href="../../../../articles/c/o/n/Contact.html">Contact Developers</a></li>
	     	      <li id="n-Developer-Pages"><a href="../../../../articles/d/e/v/Developers.html">Developer Pages</a></li>
	     	      <li id="n-Licences"><a href="../../../../articles/l/i/c/Licences.html">Licences</a></li>
	     	      <li id="n-SVN-Access"><a href="../../../../articles/s/v/n/SVN_Repository_93a5.html">SVN Access</a></li>
	     	    </ul>
	  </div>
	</div>
	<!--
	<div id="p-search" class="portlet">
	  <h5><label for="searchInput">Search</label></h5>
	  <div id="searchBody" class="pBody">
	    <form action="javascript:goToStatic(3)" id="searchform"><div>
	      <input id="searchInput" name="search" type="text"
	        accesskey="f" value="" />
	      <input type='submit' name="go" class="searchButton" id="searchGoButton"
	        value="Go" />
	    </div></form>
	  </div>
	</div>
-->
	      </div><!-- end of the left (by default at least) column -->
      <div class="visualClear"></div>
      <div id="footer">
<!--
    <div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="../../../../skins/common/images/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" /></a></div>	-->
<!-- date DATE Date -->
	<ul id="f-list">
	   Static <a href="http://www.phaser.cimr.cam.ac.uk/index.php/Phaser_Crystallographic_Software">Phaserwiki</a> 
<!--
	            </li>
	  	  <li id="f-credits">This page was last modified 15:10, 27 June 2012 by <a href="../../../../articles/w/i/k/User%7EWikiSysop_5eaf.html" title="User:WikiSysop">WikiSysop</a>. </li>	  	  <li id="f-about"><a href="../../../../articles/a/b/o/Phaserwiki%7EAbout_932f.html" title="Phaserwiki:About">About Phaserwiki</a></li>	  	  -->
	</ul>
      </div>
    </div>
  </body>
</html>
